<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Employee Oracle REST service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        const app = angular.module("Employee", []);
        app.controller("EmployeeController", function ($scope, $http) {
            $scope.employees = [];
            $scope.form = {
                employeeId: "",
                firstName: ""
            };
            //Now load the data from server
            _refreshPageData();
            $scope.add = function () {
                const data = {
                    "employeeId": $scope.form.employeeId,
                    "employeeName": $scope.form.employeeName,
                    "job": $scope.form.job,
                    "manager": $scope.form.manager,
                    "hireDate": $scope.form.hireDate,
                    "salary": $scope.form.salary,
                    "comm": $scope.form.comm
                };
                $http({
                    method: "POST",
                    url: window.location.protocol+'//'+window.location.host+window.location.pathname + 'api/v1/employee',
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(_success, _error);
            };
            $scope.deleteEmployee = function (employeeId) {
                $http({
                    method: "DELETE",
                    url: window.location.protocol+'//'+window.location.host+window.location.pathname + 'api/v1/employee/' + employeeId,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: ''
                }).then(_success, _error).catch(error => console.log(error));
            };

            /* Private Methods */
            function _refreshPageData() {
                $http({
                    method: 'GET',
                    url: window.location.protocol+'//'+window.location.host+window.location.pathname + 'api/v1/employee',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: ''
                }).then(function successCallback(response) {
                    $scope.employees = response.data;
                }, function errorCallback(response) {
                    console.log(response.statusText);
                });
            }

            function _success(response) {
                _refreshPageData();
                _clearForm();
            }

            function _error(response) {
                alert(response.data.message || response.statusText);
            }

            //Clear the form
            function _clearForm() {
                $scope.form.employeeName = "";
                $scope.form.job = "";
                $scope.form.manager = "";
                $scope.form.hireDate = "";
                $scope.form.salary = "";
                $scope.form.comm = "";
            }
        });
    </script>
</head>
<body ng-app="Employee" ng-controller="EmployeeController">

<div class="container-fluid">
    <h1>REST Service - Employee</h1>

    <h3>Add a new Employee</h3>
    <form ng-submit="add()">
        <div class="row">
            <div class="col-2"><input type="text" placeholder="Name" ng-model="form.employeeName" size="60"/></div>
            <div class="col-2"><input type="text" placeholder="Job" ng-model="form.job" size="60"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2"><input type="text" placeholder="Manager" ng-model="form.manager" size="60"/></div>
            <div class="col-2"><input type="text" placeholder="Salary" ng-model="form.salary" size="60"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2"><input type="text" placeholder="Hire Date" ng-model="form.hireDate" size="60"/></div>
            <div class="col-2"><input type="text" placeholder="Comm" ng-model="form.comm" size="60"/>
            </div>
        </div>
        <input type="submit" value="Save"/>

    </form>

    <h3>Employee List</h3>
    <div class="row">
        <div class="col-2">Employee Name</div>
        <div class="col-2">Job</div>
        <div class="col-2">Manager</div>
        <div class="col-2">Hire Date</div>
        <div class="col-1">Salary</div>
        <div class="col-1">Comm</div>
        <div class="col-1">Delete</div>
    </div>
    <div class="row" ng-repeat="employee in employees">
        <div class="col-2">{{ employee.employeeName }}</div>
        <div class="col-2">{{ employee.job }}</div>
        <div class="col-2">{{ employee.manager }}</div>
        <div class="col-2">{{ employee.hireDate }}</div>
        <div class="col-1">{{ employee.salary }}</div>
        <div class="col-1">{{ employee.comm }}</div>
        <div class="col-1"><input type="button" name="deleteEmployee" id="deleteEmployee" value="delete"
                                  ng-click="deleteEmployee(employee.employeeId)"/></div>
    </div>
</div>

</body>
</html>
